<div class="ui modal login">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://semantic-ui.com/images/avatar2/large/rachel.png" class="ui image small">
    </div>
    <div class="description">
      <div class="ui equal width form">
  <div class="fields">
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text" required>
    </div>
  </div>
  <div class="fields">
    <div class="field">
      <label>Password</label>
      <input id="password" type="password" placeholder="password" required>
    </div>
  </div>
</div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Close
    </div>
    <div class="ui positive right labeled icon button login">
      Login!
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>